logs
project/project
project/target
conf/application.conf
target
tmp
.history
.cache
dist
bin
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
app-2.11
infrastructure
libexec
test-2.11
run.bat